name: Tests
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Set up project
        run: go mod tidy

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  vulncheck:
    name: Vuln check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Set up project
        run: go mod tidy

      - name: Check
        run: govulncheck ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Set up project
        run: go mod tidy

      - name: Test
        run: sudo env "PATH=$PATH" make test

      - uses: actions/upload-artifact@v6
        with:
          name: coverage_out
          path: ./cover.out

  report:
    name: Report
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install
        run: go install github.com/mattn/goveralls@latest

      - uses: actions/download-artifact@v6
        with:
          name: coverage_out

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=./cover.out -service=github
