name: Tests
on:
    workflow_dispatch:
    push:
        branches:
            - master
            - dev
            - refactoring
    pull_request:
        branches:
            - master
            - dev
jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: '^1.25'

            - name: Set up project
              run: make setup

            - name: Lint
              run: make lint

    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: '^1.25'

            - name: Set up project
              run: make setup

            - name: Test
              run: sudo env "PATH=$PATH" make test

            - uses: actions/upload-artifact@v4
              with:
                  name: coverage_out
                  path: ./cover.out

    report:
        name: Report
        runs-on: ubuntu-latest
        needs: [test]
        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: '^1.25'

            - name: Install
              run: go install github.com/mattn/goveralls@latest

            - uses: actions/download-artifact@v4
              with:
                  name: coverage_out

            - name: Send coverage
              env:
                  COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: goveralls -coverprofile=./cover.out -service=github
